@media screen and (max-width:1000px) {
    body {
        display:grid;
        grid-template-rows: 1fr auto auto 600px auto;
        grid-template-columns: auto;
        margin:0 0;  
    }
    .header1 {
        grid-row: 1 / 2;
        grid-column: 1;
        position: relative;
        background-color:rgb(146, 197, 211); 
    
    }
    
    .title {
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        font-size: 50px;
        background:rgba(146, 197, 211, 0.6) ;
        margin:0 0;
        font-family: 'Amatic SC', cursive;   
        padding:5px 60px;
        color:#474747;
        padding:0 100%;
    }
    img {
        width:100%;    
    }

    .mainnav {
        grid-row: 2/3;
        grid-column: 1;
        position:sticky;
        top:0px;
        background-color: rgb(146, 197, 211);
        z-index: 10;
       
     }

    .nav {
        list-style:none;
        font-size:0;
        margin:0 auto;
        width:auto;
        display: block;
    }
    .nav li {
        display: list-item;
        font-size:25px;
        padding-right: 20px;
        padding-left: 20px;
        margin-left: 5px;
        margin-right: 5px;
        font-family: 'Amatic SC', cursive;
        color: #474747;
        background: whitesmoke;/*背景色*/
        border-left: double 7px #4ec4d3;/*左線*/
        border-right: double 7px #4ec4d3;/*右線*/
        cursor:pointer;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .nav li:hover {
        background-color:rgb(146, 197, 211) ;
        color:white;
        font-family: 'Amatic SC', cursive;
        border-left: double 7px white;/*左線*/
        border-right: double 7px white;/*右線*/
    }
     
    information {
        grid-row: 3/4;
        grid-column: 1;
        display:block;
    }
    
    information div {
        /* flex-grow: 1; */
        width:100%;   
    }
    
    .face {
        height: 200px;
        position:relative; 
        width:100%        
    }
    .star1 {
        width:150px;
        height:150px;
        object-fit:cover;
        border-radius:50%;
        position: absolute;
        top:50%; 
        left:50%;
        transform: translate(-50%,-50%); 
        
    }
    .sentence {
        text-align: center;
        margin:0 auto;
    }
    
    h1 {
        margin: 0 0 0 0;
        font-family:'Amatic SC', cursive; 
        color: #474747;
        position: relative;
        padding: 1rem .5rem;
}
    
h1:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    content: '';
    border-radius: 3px;
    background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
    background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
  }
    .subject {
        font-size:20px;
        font-family: "Kokoro";
        padding:0 0 0 0;
        border-left: #4ec4d3 groove;
        border-right: #4ec4d3 groove;
        margin:0 5px;
    }
    
    production {
        grid-row: 4/5;
        grid-column: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    production div {
        vertical-align: center;
    }
    footer {
        grid-row: 5/6;
        grid-column: 1;
        background-color: lightslategray;
    }
    
    .footerMenu {
        text-align: center;
        padding:0 0;
    }
    
    .footerMenu li {
        display:inline-block;
        font-size:25px;
        padding-right: 20px;
        padding-left: 20px;
        margin-left: 5px;
        margin-right: 5px;  
        cursor:pointer; 
    }
    
    .footerMenu li:hover {
        color:cornsilk;
    }
    .copyright {
        text-align: center;
    }
}
@media screen and (max-width:450px) {
    img {
        height:150px;
    }
}